{{ define "xeneon-slideshow" }}
{{ $root := .Root }}
{{ $widget := .Widget }}
<div class="edge-panel media-panel" id="xeneon-slideshow" data-interval="{{ $widget.Interval }}"{{ with .Span }} style="flex-grow: {{ . }};"{{ end }}>
    <div class="card system-card"{{ template "widget-card-style" $widget }}>
        <div class="card-body">
            <div class="media-frame" data-fit="{{ $widget.Fit }}"></div>
            <div class="media-placeholder" hidden>{{ $root.Lang "txtNoMediaFiles" }}</div>
        </div>
    </div>
</div>
{{ end }}
