{{ define "xeneon-weburl" }}
{{ $root := .Root }}
{{ $widget := .Widget }}
<div class="edge-panel media-panel" id="xeneon-weburl"{{ with .Span }} style="flex-grow: {{ . }};"{{ end }}>
    <div class="card system-card"{{ if $widget.BackgroundColor }} style="background: {{ $widget.BackgroundColor }} !important;{{ if $widget.TextColor }} color: {{ $widget.TextColor }} !important;{{ end }}"{{ end }}>
        <div class="card-body">
            {{ if $widget.Url }}
            <iframe class="weburl-frame" src="{{ $widget.Url }}" loading="lazy"></iframe>
            {{ else }}
            <div class="media-placeholder">{{ $root.Lang "txtNoUrlConfigured" }}</div>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}
